@import url(root.css);

/*======================================
    Constants
======================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.oswald {
    font-family: var(--family-Osw);
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================= 
        Header Start
=========================*/

header {
    width: 100%;
    height: 80px;
    background: var(--dark);
    padding: 0 100px;
    font-family: var(--family-OS);

}

.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--family-Satisfy);
    color: var(--yellow);
    text-decoration: none;
}

.logo:hover {
    color: var(--yellow);
}

.logo-break {
    display: block;
    margin-left: 30px;
    line-height: 1rem;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-bar ul li a {
    display: block;
    color: var(--white);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: var(--dark);
    background: var(--white);
}

.nav-bar ul li a:active {
    color: var(--dark);
    background: var(--white);
}

/* ======================= 
        Header End
=========================*/