@import url(root.css);

/*======================================
    Constants
======================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.oswald {
    font-family: var(--family-Osw);
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
}