@import url(const.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Satisfy&display=swap');


body {
    color: #111111;
    background-image: url(../../images/contactBg.jpg)!important;
    background-position: 50% 0;
    background-size: cover;
}

/* ---Contact Start--- */

.contact-bg {
    min-height: 800px;
}

.container::before {
    content: '';
    display: table;
}

.container::after {
    content: '';
    display: table;
}

.margin-top {
    margin-top: 20rem;
}

.content {
    padding: 2rem;
    background-color: var(--white);
    text-align: center;
    border-radius: 1rem;
    max-width: 300px;
    min-height: 248px;
    margin: auto;
}

.content h5 {
    font-family: var(--family-Rlw);
    font-weight: bold;
}

.content p {
    font-family: var(--family-OS);
    font-weight: normal;
}

.icon {
    width: 64px;
    height: 64px;
}

.email {
    text-decoration: none;
    color: #f14a0e;
}

.email:hover {
    color: #f14a0e;
    text-decoration: underline var(--dark) 1px;
    text-underline-offset: 5px;
}

.margin-y {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form {
    padding-left: 3rem;
    font-family: var(--family-OS);
}

.form label {
    font-weight: bold;
    color: white;
}

.form input,
.form textarea {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.75rem;
    margin-bottom: 2rem;
    width: 95%;
    border-bottom: 2px solid white;
    resize: none;
}

.submit {
    color: white;
    font-family: var(--family-OS);
    font-weight: 700;
    background-color: #f14a0e;
    width: 85%;
    margin-left: 3rem;
    border: none;
    border-radius: 30px;
    letter-spacing: 5px;
}

.submit:hover {
    color: #f14a0e;
    background-color: white;
}

.text-container {
    color: white;
    padding: 1rem;
    line-height: 2rem;
}

.text-container h2 {
    font-family: var(--family-Rlw);
    font-size: 3rem;
}

.text1 {
    font-family: var(--family-Rlw);
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
}

.text2 {
    font-size: 1.1rem;
}

/* ---Contact End--- */

/* ---Media--- */

@media (max-width:992px) {
    .nav-bar.active {
        height: 250px !important;
    }

    .nav-bar {
        background-color: transparent !important;
        top: 60px !important;
    }

    .nav-bar ul {
        margin: 30px auto 0 auto !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .content {
        height: 272px;
    }
}

@media (max-width:576px) {
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .form {
        padding-left: 1rem;
    }
}