@import url(const.css);

/* ======================= 
        Profile Start
=========================*/

.pfp{
    width: 50%;
}

.social-icons {
    padding: 20px 0;
}

.social-icons a {
    margin: 0 10px;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.facebook {
    background: #4267B2;
}

.twitter {
    background: #1DA1F2;
}

/* ======================= 
        Profile End
=========================*/

/* ======================= 
        Tabs start
=========================*/

.nav-tabs .nav-link {
    width: 100%;
    color: #333;
}

.nav-tabs .nav-link.active {
    background-color: var(--yellow);
    color: #fff;
}

.nav-tabs .nav-link.active:hover {
    background-color: var(--yellow-hover);
}

/* ======================= 
        Tabs End
=========================*/

/* ============================================= 
        Favourites and Recenly View Start
===============================================*/

.s-mg {
    padding-bottom: 70px;
}

.food .row>* {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.food-img {
    object-fit: cover;
    width: 100%;
    min-height: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.food-img:hover {
    transform: scale(1.025);
}

.food .modal-text {
    position: absolute;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--yellow-hover);
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--yellow);
}

/* ============================================= 
        Favourites and Recenly View End
===============================================*/

/* ========================
        Settings Start
==========================*/

.settings {
    display: flex;
    justify-content: space-around;
    margin: 20px 2px 40px 2px;
    height: 40px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.settings>* {
    width: 100%;
    color: dimgray;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.settings p{
    font-weight: bold;
}

.settings i,.settings a{
    color: var(--dark);
}

.editProfile input{
    outline: 0;
    width: 75%;
}

.settings>*:hover:not(.active) {
    background-color: rgb(220, 220, 220);
}

.settings>.active {
    background-color: var(--yellow);
}

.settings>.active:hover {
    background-color: var(--yellow-hover);
}

.settings>.active a {
    color: var(--white);
}

.settings>.active i {
    color: var(--white);
    width: 30px;
    margin-right: 10px;
}


.panel {
    display: none;
}

.panel.active {
    display: block;
}
